body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #eedad5;
  }
  
  a {
    color: #000;
  }


  /* Logo styles */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  max-width: 100%;
  height: auto;
  max-height: 40px;
  padding: 5px;
}

/* Header icon styles */
.header-icons {
  display: flex;
  align-items: ;
  margin-right: 10px;
}

.header-icons img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
  /* header */
  
  .header {
    background-color: #668a6b;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 10px;
    padding-top:50px;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: flex;
    align-items: center;
    margin-top:20px;
    padding-top: 5px;
    text-decoration: none;
    color:#ffffff
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #eedad5;
  }
  
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: center;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

/* Footer styles */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #A9C7A7;
  padding: 10px;
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
}

.footer-icons img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-text {
  color: rgb(0, 0, 0);
  text-align: left;
  margin-top: 10px;
}

  
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
    .header li {
      float: none; /* Remove the float property */
      display: inline-block; /* Make the list items inline-block */
      margin-right: 120px; /* Add some margin to create space between items */
    
  }
    .header .menu {
      clear: none;
      float: relative;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }